body{
   background-image: url(image.1/bg.3.jpeg); 
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0;
   padding: 0;
}
 .b img
{
    width: 100px;
    height: 80px;
    padding-left:60px ;
}
.a div{
    border-color: white;
    margin-top: 20px;
    background-color:white;
    width: 94%;
    height: 120px;
    animation-name: Head;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}
@keyframes Head {
    0%{background-color: rgba(255,218,185,0.4);}
    25%{background-color: rgba(255,99,71,0.4);}
    50%{background-color: rgba(0,255,255,0.4);}
    75%{background-color: rgba(255,215,0,0.4);}
    100%{background-color: rgba(255,160,122,0.4);}
}
.b
{  
    font-family:Khmer OS Muol Light ;
    font-size: 40px;
    text-align: left;
}
p
{
    font-family: 'Khmer OS Freehand';
}

a{
    text-decoration: none;
    padding-left:30px;
    padding-right: 30px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    margin-left: 5%;
    border-radius: 5px;
}
a:hover
{
    margin-left: 5%;
    background-color:rgba(0,0,0,0.4);
    color: white;
    
}
.d {

    background-color:white;
    width: 94%;
    height: 400px;
    animation-name: example;
    animation-duration: 60s;
    animation-iteration-count: infinite;}
@keyframes example{
    0%{background-color: rgba(255,218,185,0.4);}
    25%{background-color: rgba(255,99,71,0.4);}
    50%{background-color: rgba(0,255,255,0.4);}
    75%{background-color: rgba(255,215,0,0.4);}
    100%{background-color: rgba(255,160,122,0.4);}
}
.a div
{
    margin-left: 3%;
    margin-right: 3%;
}
.d 
{
    margin-left: 3%;
    margin-right: 3%;
}


    




















